@model PTemplate.Data.DataBase.Factorpost




@using PTemplate.Data;
@using PTemplate.Data.DataBase;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.EntityFrameworkCore;



@using PTemplate
@using PTemplate.Models

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "حذف مرسوله";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>حذف</h2>

<h3>ایا مایل به حذف اطلاعات مرسوله هستید?</h3>
<div>
    <h4>فاکتور پست</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
         شماره پیگیری
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codefollowup)
        </dd>
        <dt>
         وجه
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Money)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.IduserCreator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IduserCreator)
        </dd>*@
        <dt>
           ارسال کننده به پست
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Iduserpost)
        </dd>
        <dt>
          تاریخ ساخت
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datecreate)
        </dd>
        <dt>
         تاریخ پست
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datepost)
        </dd>
        <dt>
            ارسال با اتوبوس
        </dt>

        <dd>

            @if (Model.Isbus.Value)
            {
                <span>فعال</span>
                <img src="~/images/icons8-green.png" />
            }
            else
            {
                <span>  غیر فعال</span>
                <img src="~/images/icons8-silver.png" />
            }

            @*@Html.DisplayFor(model => model.Isbus)*@
        </dd>
        <dt>
            وضعیت پایان مرسوله
        </dt>
        <dd>

            @if (Model.Isfinesh.Value)
            {
                <span>فعال</span>
                <img src="~/images/icons8-green.png" />
            }
            else
            {
                <span>  غیر فعال</span>
                <img src="~/images/icons8-silver.png" />
            }

        </dd>
        <dt>
          شماره فاکتور
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdfactorNavigation.Id)
        </dd>
        <dt>
          وضعیت ارسال
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdfactorposttypeNavigation.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-default" /> |
        <a asp-action="Index">برگشت</a>
    </form>
</div>
