@model PTemplate.Data.DataBase.Productaddress

@{
    ViewData["Title"] = "صفحه نخست";
    Layout = "~/Views/cbkala/Shared/personmanger.cshtml";
    ViewData["externalHomeUrl"] = "/cbkala/";
    ViewData["HomeUrl"] = "/";
}
<div id="container">
    <div class="container">
        <div class="row">
            <h2>توضیح هات</h2>

            <div>
                <h4>Productaddress</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Namefamily)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Namefamily)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tell)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tell)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.City)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.City)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Province)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Province)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Postalcode)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Postalcode)
                    </dd>
                    @*<dt>
                        @Html.DisplayNameFor(model => model.Isactive)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Isactive)
                    </dd>*@
                    @*<dt>
                        @Html.DisplayNameFor(model => model.Isactivebase)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Isactivebase)
                    </dd>*@
                    <dt>
                        @Html.DisplayNameFor(model => model.Createdate)
                    </dt>
                    <dd>
                        @PersianDate.ToPersianDateString(DateTime.Parse( Model.Createdate.ToString()))
                      
                    </dd>
                    @*<dt>
                        @Html.DisplayNameFor(model => model.IduserNavigation)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IduserNavigation.Id)
                    </dd>*@
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">ویرایش</a> |
                <a asp-action="EditIsActiveAddress" asp-route-id="@Model.Id">ادرس فعال برای خرید </a> |
                <a asp-action="Index">برگشت</a>
              
            </div>

        </div>
    </div>
</div>
