
@model PTemplate.Models.DataViewModel.productViewModel


@{
    ViewData["Title"] = "نمایش محصول";
    Layout = "~/Views/cbkala/Shared/_Layout.cshtml";
    ViewData["externalHomeUrl"] = "/cbkala/";
    ViewData["HomeUrl"] = "/";
}

@{
    var pot = Model.postdatas.Where(p => p.Iddatatype == 5).FirstOrDefault();
}

<div id="container">

        <div class="row">

            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <div itemscope itemtype="http://schema.org/محصولات">
                    <h1 class="title" itemprop="name">@Model.product.Title</h1>
                    <div class="row product-info text-center" id="messageBase">

                    </div>
                    <div class="row product-info">
                        <div class="col-sm-6">



                            @if (pot != null)
                            {
                                <div class="image">

                                    @{ 
                                        var ml = Model.postdatas.Where(p => p.Iddatatype == 5);//Model.postdatas.Where(p => p.Iddatatype == 5).First();
                                    } 

                                    <img class="img-responsive" itemprop="image" id="zoom_01" width="350" height="350"
                                         src="~/uploads/product/350_@ml.First().Pathdata"
                                         title="@Model.product.Title" 
                                         alt="@Model.product.Title"
                                         data-zoom-image="/uploads/product/@ml.First().Pathdata" />
                                </div>
                                <div class="center-block"><span class="zoom-gallery"><i class="fa fa-search"></i> برای مشاهده گالری روی تصویر کلیک کنید</span></div>
                                <div class="image-additional" id="gallery_01">
                                    @foreach (var i in ml.ToList())
                                    {
                                        <a class="thumbnail" href=""
                                           data-zoom-image="/uploads/product/@i.Pathdata" 
                                           data-image="/uploads/product/350_@i.Pathdata" 
                                           title="@Model.product.Title">
                                            <img src="~/uploads/product/350_@i.Pathdata" title="@Model.product.Title"
                                                 alt="@Model.product.Title" />
                                        </a>

                                    }


                                </div>
                            }
                            else
                            {
                                <div class="image">


                                    <img class="img-responsive" itemprop="image" id="zoom_01"
                                         src="~/uploads/product/Base.PNG"
                                         title="@Model.product.Title" alt="@Model.product.Title"
                                         data-zoom-image="/uploads/post/Base.PNG" />
                                </div>

                            }
                        </div>

                        <div class="col-sm-6">

                            <ul class="list-unstyled description">
                                <li><b>اسم : @Model.product.Title</b> <a href="#"><span itemprop="brand">اپل</span></a></li>
                                <li><b>کد محصول : </b> <span itemprop="mpn">@Model.product.Id</span></li>
                                @if (Model.procolor.Count >= 1)
                                {
                                    <li><b>وضعیت موجودی :</b> <span class="instock">موجود</span></li>

                                }
                                else
                                {
                                    <li><b>وضعیت موجودی :</b> <span class="instock text-danger">موجود نیست</span></li>

                                }
                            </ul>
                            <ul class="price-box">
                                <li class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    @*<span class="price-old">12 میلیون تومان</span>*@
                                    <span itemprop="price">
                                        @Model.product.Price ریال<span itemprop="availability" content="موجود"></span>
                                    </span>
                                </li>
                            </ul>
                            <div id="product">
                                <h3 class="subtitle">انتخاب های در دسترس</h3>
                                <div class="form-group required">
                                    <label class="control-label">رنگ</label>
                                    <select class="form-control" id="input-option2001" name="input-option2001">
                                        <option value="0"> --- لطفا انتخاب کنید --- </option>
                                        @foreach (var i in Model.procolor)
                                        {
                                            if (i.Count >= 1)
                                            {
                                                <option value="@i.Id">@i.IdcolorNavigation.Name  (تعداد باقی مانده : @i.Count)</option>
                                            }
                                        }


                                    </select>
                                </div>
                                <div class="cart">
                                    <div>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <div class="qty">
                                                <label class="control-label" for="input-quantity">تعداد</label>
                                                <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                                                <a class="qtyBtn plus" href="javascript:void(0);">+</a><br />
                                                <a class="qtyBtn mines" href="javascript:void(0);">-</a>
                                                <div class="clear"></div>
                                            </div>

                                            <button type="button" id="button-cart" class="btn btn-primary btn-lg" onclick="startTask()">
                                                افزودن به سبد
                                            </button>
                                        }
                                        else
                                        {

                                    <span> برای ثبت کالا وارد سامانه یا عضو  سامانه شوید. </span>
                                            <a class="btn btn-primary btn-lg" href="/Identity/Account/Register">
                                                <span> ثبت نام جدید  </span>
                                            </a>
                                                
                                            <span> - </span>
                                            <a class="btn btn-primary btn-lg" href="/Identity/Account/Login">
                                                <span> به سامانه </span>
                                            </a>
                                        }

                                        <input type="hidden" id="idpro" name="idpro" asp-for="product.Id" />

                                        <script>

                                            function startTask() {

                                                var count = $('#input-quantity').val();

                                                var id = $('#idpro').val();


                                                var select = document.getElementById("input-option2001");
                                                var options = select.options[select.selectedIndex];
                                                var idcolor = options.value;

                                                if (count <= 0) {
                                                    alert('کالا را وارد کنید.');
                                                    return;
                                                }

                                                if (id <= 0) {
                                                    alert('کالا انتخاب نشد است را وارد کنید.');
                                                    return;
                                                }

                                                if (idcolor <= 0) {

                                                    document.getElementById("messageBase").innerHTML = ' <span class="text-danger text-lg-center">' + 'رنگ را انتخاب کنید.' + '</span>';

                                                    return;
                                                }




                                                $.ajax({
                                                    type: 'GET',
                                                    url: '/cbkala/insertProduct?idptoduct=' + id + '&count=' + count + '&idcolor=' + idcolor,
                                                    contentType: "application/json",
                                                    success: function (result) {

                                                        if ('Yes' == result)
                                                            window.location.replace("/cbkala/Cart");
                                                        else {


                                                            document.getElementById("messageBase").innerHTML = ' <span class="text-danger text-lg-center">' + result + '</span>';

                                                        }


                                                    }
                                                });

                                            }


                                        </script>

                                    </div>
                                    <div>
                                        @*<button type="button" class="wishlist" onClick=""><i class="fa fa-heart"></i> افزودن به علاقه مندی ها</button>*@
                                        @*<br />*@
                                        @*<button type="button" class="wishlist" onClick=""><i class="fa fa-exchange"></i> مقایسه این محصول</button>*@
                                    </div>
                                </div>
                            </div>
                            @*<div class="rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                   <meta itemprop="ratingValue" content="0" />
                                    <p><span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span> <a onClick="$('a[href=\'#tab-review\']').trigger('click'); return false;" href=""><span itemprop="reviewCount">1 نظر</span></a> / <a onClick="$('a[href=\'#tab-review\']').trigger('click'); return false;" href="">یک نظر بنویسید</a></p>
                                </div>*@

                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-description" data-toggle="tab">توضیحات</a></li>
                        <li><a href="#tab-specification" data-toggle="tab">مشخصات</a></li>
                        @*<li><a href="#tab-review" data-toggle="tab">نظرات (2)</a></li>*@
                    </ul>
                    <div class="tab-content">
                        <div itemprop="description" id="tab-description" class="tab-pane active">
                            <div>
                                <p><b>@Model.product.Title</b></p>
                                <p>@Model.product.Description</p>
                            </div>
                        </div>
                        <div id="tab-specification" class="tab-pane">
                            <div id="tab-specification" class="tab-pane">


                               


                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">مشخصات فنی</th>
                                            <th scope="col">جزئیات فنی</th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var B in Model.productinfo)
                                        {

                                       
                                        <tr>
                                            <th scope="row" >#</th>
                                           
                                            <td>@B.IdproductmenuinfoNavigation.Title</td>
                                            <td>@B.Description</td>
                                        </tr>
                                        }
                                       
                                    </tbody>
                                </table>

                                @Model.product.Text
                            </div>
                        </div>
                        @*<div id="tab-review" class="tab-pane">
                                <form class="form-horizontal">
                                    <div id="review">
                                        <div>
                                            <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50%;"><strong><span>رامتین آذری</span></strong></td>
                                                        <td class="text-right"><span>1395/1/20</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <p>ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                                                            <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50%;"><strong><span>صمد قلی خانی</span></strong></td>
                                                        <td class="text-right"><span>1395/1/20</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <p>ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                                                            <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="text-right"></div>
                                    </div>
                                    <h2>لطفا نظر خود را بفرمایید</h2>
                                    <div class="form-group required">
                                        <div class="col-sm-12">
                                            <label for="input-name" class="control-label">نام شما</label>
                                            <input type="text" class="form-control" id="input-name" value="" name="name">
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <div class="col-sm-12">
                                            <label for="input-review" class="control-label">نظر شما</label>
                                            <textarea class="form-control" id="input-review" rows="5" name="text"></textarea>
                                            <div class="help-block"><span class="text-danger">توجه :</span> HTML بازگردانی نخواهد شد!</div>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <div class="col-sm-12">
                                            <label class="control-label">رتبه</label>
                                            &nbsp;&nbsp;&nbsp; بد&nbsp;
                                            <input type="radio" value="1" name="rating">
                                            &nbsp;
                                            <input type="radio" value="2" name="rating">
                                            &nbsp;
                                            <input type="radio" value="3" name="rating">
                                            &nbsp;
                                            <input type="radio" value="4" name="rating">
                                            &nbsp;
                                            <input type="radio" value="5" name="rating">
                                            &nbsp;خوب
                                        </div>
                                    </div>
                                    <div class="buttons">
                                        <div class="pull-right">
                                            <button class="btn btn-primary" id="button-review" type="button">ادامه</button>
                                        </div>
                                    </div>
                                </form>
                            </div>*@
                    </div>
                    @*<h3 class="subtitle">محصولات مشابه</h3>
                        <div class="owl-carousel related_pro">
                            <div class="product-thumb">
                                <div class="image"><a href="product.html"><img src="image/product/samsung_tab_1-200x200.jpg" alt="تبلت ایسر" title="تبلت ایسر" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4><a href="product.html">تبلت ایسر</a></h4>
                                    <p class="price"> <span class="price-new">98000 تومان</span> <span class="price-old">240000 تومان</span> <span class="saving">-5%</span> </p>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                </div>
                                <div class="button-group">
                                    <button class="btn-primary" type="button" onClick=""><span>افزودن به سبد</span></button>
                                    <div class="add-to-links">
                                        <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick=""><i class="fa fa-heart"></i></button>
                                        <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick=""><i class="fa fa-exchange"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-thumb">
                                <div class="image"><a href="product.html"><img src="image/product/macbook_pro_1-200x200.jpg" alt=" کتاب آموزش باغبانی " title=" کتاب آموزش باغبانی " class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4><a href="product.html"> کتاب آموزش باغبانی </a></h4>
                                    <p class="price"> <span class="price-new">98000 تومان</span> <span class="price-old">120000 تومان</span> <span class="saving">-26%</span> </p>
                                </div>
                                <div class="button-group">
                                    <button class="btn-primary" type="button" onClick=""><span>افزودن به سبد</span></button>
                                    <div class="add-to-links">
                                        <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick=""><i class="fa fa-heart"></i></button>
                                        <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick=""><i class="fa fa-exchange"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-thumb">
                                <div class="image"><a href="product.html"><img src="image/product/macbook_1-200x200.jpg" alt="آیدیا پد یوگا" title="آیدیا پد یوگا" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4><a href="product.html">آیدیا پد یوگا</a></h4>
                                    <p class="price"> 900000 تومان </p>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                </div>
                                <div class="button-group">
                                    <button class="btn-primary" type="button" onClick=""><span>افزودن به سبد</span></button>
                                    <div class="add-to-links">
                                        <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick=""><i class="fa fa-heart"></i></button>
                                        <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick=""><i class="fa fa-exchange"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-thumb">
                                <div class="image"><a href="product.html"><img src="image/product/ipod_shuffle_1-200x200.jpg" alt="لپ تاپ hp پاویلیون" title="لپ تاپ hp پاویلیون" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4><a href="product.html">لپ تاپ hp پاویلیون</a></h4>
                                    <p class="price"> 122000 تومان </p>
                                </div>
                                <div class="button-group">
                                    <button class="btn-primary" type="button" onClick=""><span>افزودن به سبد</span></button>
                                    <div class="add-to-links">
                                        <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick=""><i class="fa fa-heart"></i></button>
                                        <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick=""><i class="fa fa-exchange"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-thumb">
                                <div class="image"><a href="product.html"><img src="image/product/ipod_touch_1-200x200.jpg" alt="سامسونگ گلکسی s7" title="سامسونگ گلکسی s7" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4><a href="product.html">سامسونگ گلکسی s7</a></h4>
                                    <p class="price"> <span class="price-new">62000 تومان</span> <span class="price-old">122000 تومان</span> <span class="saving">-50%</span> </p>
                                </div>
                                <div class="button-group">
                                    <button class="btn-primary" type="button" onClick=""><span>افزودن به سبد</span></button>
                                    <div class="add-to-links">
                                        <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick=""><i class="fa fa-heart"></i></button>
                                        <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick=""><i class="fa fa-exchange"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-thumb">
                                <div class="image"><a href="product.html"><img src="image/product/ipod_shuffle_1-200x200.jpg" alt="لپ تاپ hp پاویلیون" title="لپ تاپ hp پاویلیون" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4><a href="product.html">لپ تاپ hp پاویلیون</a></h4>
                                    <p class="price"> 122000 تومان </p>
                                </div>
                                <div class="button-group">
                                    <button class="btn-primary" type="button" onClick=""><span>افزودن به سبد</span></button>
                                    <div class="add-to-links">
                                        <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick=""><i class="fa fa-heart"></i></button>
                                        <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick=""><i class="fa fa-exchange"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
            <!--Middle Part End -->

        </div>
   
</div>

