@model PTemplate.Data.DataBase.Ad

@using Microsoft.AspNetCore.Identity

@using PTemplate.Areas.Admin.Data
@using PTemplate.Models
@namespace PTemplate


@using PTemplate
@using PTemplate.Models


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "محصول جدید";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    <script src="https://cdn.ckeditor.com/4.15.1/standard-all/ckeditor.js"></script>

    <link href='~/PersianDateTimePicker/css/normalize.css' rel='stylesheet' />

    <link href='~/PersianDateTimePicker/css/fontawesome/css/font-awesome.min.css' rel='stylesheet' />
    <link href="~/PersianDateTimePicker/css/vertical-responsive-menu.min.css" rel="stylesheet" />
    <link href="~/PersianDateTimePicker/css/style.css" rel="stylesheet" />
    <link href="~/PersianDateTimePicker/css/prism.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/PersianDateTimePicker/css/persianDatepicker-default.css" />
    <link rel="stylesheet" href="~/PersianDateTimePicker/css/persianDatepicker-dark.css" />
    <link rel="stylesheet" href="~/PersianDateTimePicker/css/persianDatepicker-latoja.css" />
    <link rel="stylesheet" href="~/PersianDateTimePicker/css/persianDatepicker-melon.css" />
    <link rel="stylesheet" href="~/PersianDateTimePicker/css/persianDatepicker-lightorang.css" />
    <script src="~/PersianDateTimePicker/js/prism.js" type="text/javascript"></script>
    @*<script src="~/PersianDateTimePicker/js/vertical-responsive-menu.min.js" type="text/javascript"></script>*@





}
<h2>ساخت</h2>

<h4>تبلیغات</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
           شماره
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                مسیر
                <input asp-for="Path" class="form-control" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>

            <div class="form-group">
                لینک
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                فعال
                @Html.CheckBox("Isactive", true)

            </div>
            @*<div class="form-group">
            <label asp-for="Datecreate" class="control-label"></label>
            <input asp-for="Datecreate" class="form-control" />
            <span asp-validation-for="Datecreate" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                تاریخ شروع
                @*<input asp-for="Datestart" class="form-control" />*@

                <input id="Datestart" name="Datestart" class="form-control" value="@DateTime.Now.ToPersianDateTime()" />


                <span asp-validation-for="Datestart" class="text-danger"></span>
            </div>
            <div class="form-group">
                تاریخ پایان
                @*<input asp-for="Dateend" class="form-control" />*@
                <input id="Dateend" name="Dateend" class="form-control" value="@DateTime.Now.AddYears(1).ToPersianDateTime()" />
                <span asp-validation-for="Dateend" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ساخت" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">برگشت</a>
</div>


@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        // Attaching event listeners to the global CKEDITOR object.
        // The instanceReady event is fired when an instance of CKEditor 4 has finished its initialization.
        CKEDITOR.on('instanceReady', function (ev) {
            ShowMessage('Editor instance <em>' + ev.editor.name + '</em> was loaded.');

            // The editor is ready, so sample buttons can be displayed.
            document.getElementById('eButtons').style.display = 'block';
        });

        // Replace the <textarea id="Text"> with a CKEditor 4 instance.
        // A reference to the editor object is returned by CKEDITOR.replace() allowing you to work with editor instances.
        var editor = CKEDITOR.replace('Text', {
            height: 150
        });

        // Attaching event listeners to CKEditor 4 instances.
        // Refer to https://ckeditor.com/docs/ckeditor4/latest/api/CKEDITOR_editor.html for a list of all available events.
        editor.on('focus', function (evt) {
            ShowMessage('Editor instance <em>' + this.name + '</em> <b>is focused</b>.');
        });
        editor.on('blur', function (evt) {
            ShowMessage('Editor instance <em>' + this.name + '</em> <b>lost focus</b>.');
        });
        // Helper variable to count the number of detected changes in CKEditor 4.
        var changesNum = 0;
        editor.on('change', function (evt) {
            ShowMessage('The number of changes in <em>' + this.name + '</em>: <b>' + ++changesNum + '</b>.');
        });
    </script>
    <script src="~/PersianDateTimePicker/js/jquery-1.10.1.min.js"></script>
    <script src="~/PersianDateTimePicker/js/persianDatepicker.js"></script>
    <script>
        $(function () {

            $("#Datestart").persianDatepicker({ theme: "latoja", alwaysShow: false, formatDate: "YYYY/MM/DD 0h:0m:0s", selectedDate: "@DateTime.Now.ToPersianDateTime()", });
            $("#Dateend").persianDatepicker({ theme: "latoja", alwaysShow: false, formatDate: "YYYY/MM/DD 0h:0m:0s", selectedDate: "@DateTime.Now.ToPersianDateTime()", });

        });
    </script>




}