@model PTemplate.Data.DataBase.Productcolor

@using PTemplate.Models
@using Microsoft.AspNetCore.Identity
@using PTemplate

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit";
   Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ویرایس</h2>

<h4>محصول رنگ</h4>
<hr />

<div>
    @{
        var b = (PTemplate.Data.DataBase.Product)ViewData["product"];
    }
    <h4>محصول : @b.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            قیمت
        </dt>
        <dd>
            @b.Price
        </dd>
        <dt>
            تاریخ
        </dt>
        <dd>
            @PersianDate.ToPersianDateString((DateTime)b.Datecreate)
            @*@Html.DisplayFor(model => model.Datecreate)*@
        </dd>
        <dt>
            وضعیت
        </dt>
        <dd>
            @b.Isactive
        </dd>
        <dt>
            توضیح
        </dt>
        <dd>
            @b.Description
        </dd>
        <dt>
            زیر گروه
        </dt>
        <dd>
            @b.Id
        </dd>
        <dt>
            عنوان
        </dt>
        <dd>
            @b.Title
        </dd>
    </dl>
</div>
<div class="row">

    <div class="col-md-4">
        <form action="~/Admin/Productcolors/Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
              رنگ
                <select asp-for="Idcolor" class="form-control" asp-items="ViewBag.Idcolor"></select>
                <span asp-validation-for="Idcolor" class="text-danger"></span>
            </div>
            <div class="form-group">
             محصول
                <select asp-for="Idproduct" class="form-control" asp-items="ViewBag.Idproduct"></select>
                <span asp-validation-for="Idproduct" class="text-danger"></span>
            </div>
            <div class="form-group">
              تعداد
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="~/Admin/Productcolors/Index">برگشت</a>
</div>

