@model IEnumerable<PTemplate.Data.DataBase.Factorsub>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
      <a href="~/Admin/Factorsubs/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Money)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offpercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datecreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdproductcolorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdfactorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdproductNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offpercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datecreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdproductcolorNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdfactorNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdproductNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
