@model IEnumerable<PTemplate.Data.DataBase.Posttype>
@using Microsoft.AspNetCore.Identity
@using PTemplate
@namespace PTemplate
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";

    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>نوع ارسال</h1>

<p>
     <a harf="~/Admin/Posttypes/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("ویرایش", "Edit", "Posttypes", @item.Id)
                    <a href="~/Admin/Posttypes/Edit/@item.Id">ویرایش</a> |
                    <a href="~/Admin/Posttypes/Details/@item.Id">جزئیات</a> |
                    <a href="~/Admin/Posttypes/Delete/@item.Id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
