@model IEnumerable<PTemplate.Data.DataBase.Addresssystem>
@using PTemplate
@using PTemplate.Models

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "XX";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@*<h2>Index</h2>*@

<p>
    @*<a href="~/Admin/Addresssystems/Create">Create New</a>*@
</p>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
        type="text/javascript"></script>
<script>
        var mapcode;
        var diag;
        function initialize() {
            mapcode = new google.maps.Geocoder();
            var lnt = new google.maps.LatLng(26.45, 82.85);
            var diagChoice = {
                zoom: 9,
                center: lnt,
                diagId: google.maps.MapTypeId.ROADMAP
            }
            diag = new google.maps.Map(document.getElementById
            ('map_populate'), diagChoice);
        }
        function getmap() {
            var completeaddress = document.getElementById('txt_location').value;
            mapcode.geocode({ 'address': completeaddress }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    diag.setCenter(results[0].geometry.location);
                    var hint = new google.maps.Marker({
                        diag: diag,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Location Not Tracked. ' + status);
                }
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
</script>
<table class="table">
    <thead>
        <tr>
            <th>
                نام
            </th>
            <th>
                شماره تلفن تماس با پشتیبان سایت
            </th>
            <th>
                فکس
            </th>
            <th>
                توضیح هات
            </th>
            <th>
                استان
            </th>
            <th>
                شهر
            </th>
            <th>
                آدرس
            </th>
            <th>
                ایمیل
            </th>
            <th>
                کد پستی
            </th>
            <th>
                متن
            </th>
            <th>
                نام مدیر
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tell)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Province)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postalcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Namemanger)
                </td>
                <td>
                    <a href="~/Admin/Addresssystems/Edit/@item.Id">ویرایش</a> |
                    <a href="~/Admin/Addresssystems/Details/@item.Id">جزئیات</a> |
                    @*   <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
